body {
    background:linear-gradient(to left, rgb(23, 163, 151), rgb(23, 107, 163))    
}

.calc_wrapper {
    width: 400px;
    height: 700px;

    margin: 0 auto;
    margin-top: 130px;
    overflow: hidden;

    border-radius: 1%;
    background:linear-gradient(to left, rgba(23, 163, 151, 0.637), rgba(23, 107, 163, 0.349));
    box-shadow: 0 0 50px 3px rgb(53, 53, 53);
    font-family: 'Roboto', sans-serif;
}

/*Output*/
.calc_output {
    width: 380px;
    height: 200px;
    text-align: right;
    margin: 0 auto;

    color: rgb(150, 233, 207);
}

.outputFirstOperand {
    font-size: 95px;
    word-wrap: break-word;
}

.outputSecondOperand {
    padding-top: 35px;
    font-size: 45px;
    opacity: .5;
    word-wrap: break-word;
}

.smaller {
    margin-top: 20px;
    font-size: 60px;
}

.secondSmaller {
    margin-top: 5px;
    font-size: 20px;
}

.theSmallest {
    margin-top: 50px;
    font-size: 30px;
}

/*Buttons*/
.buttons_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 100px;
    height: 100px;

    font-size: 25px;
    font-weight: bold;
    color: rgba(26, 97, 97, 0.918);

    background: linear-gradient(315deg, rgb(98, 187, 176), rgb(38, 141, 178));
}

button:hover {
    opacity: .99;
    box-shadow: 0 0 7px 1px rgb(85, 85, 85);
}

.doubled-grid {
    width: 200px;
}

